<div class="search-form">
  <%= form_with url: search_movie_path, method: :get do |form| %>
    <%= form.text_field :search_query, class: "form-control search-bar", placeholder: "Search..." %>
    <%= form.submit "Search", class: "btn btn-outline-primary me-2 search-button" %>
  <% end %>
</div>

<div class="search-form">
  <%= render partial: "search_form" %>
</div>

<div id="search_results">
  <%= render partial: "search_results", locals: { :path => :discover_path } %>
</div>
